@import "tailwindcss";

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior-y: none;
}

img {
  content-visibility: auto;
}

@custom-variant dark (&:where(.dark, .dark *));

.outfit {
  font-family: "Outfit", sans-serif !important;
  font-weight: 400;
}

.caveat {
  font-family: "Caveat", cursive;
  font-weight: 700;
  letter-spacing: 0.5px;
}

button {
  cursor: pointer;
}

a {
  border-radius: 8px !important;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #009966;
  border-radius: 999px;
}
